@import url('/css/toast.css');

html,
body {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.badge--align {
    padding-inline: 1.5em; /*horizontal padding*/
    padding-block: 0.8em !important; /*vertical padding */
}

.content__align--end {
    display: flex;
    flex-direction: column;
}
