<!DOCTYPE html>
<html lang="vi">
    <head>
        <%- include('../partials/head') %>
        <!-- css -->
        <%- include('../partials/style') %>
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <!-- main -->
        <div class="form_login">
            <form>
                <div class="form_login-title">
                    <i class="fa fa-circle-user" aria-hidden="true"></i>
                </div>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Username" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <%- include('../partials/script') %>
    </body>
</html>
