<!DOCTYPE html>
<html lang="vi">
    <head>
        <%- include('../partials/head') %>
        <!-- css -->
        <%- include('../partials/style') %>
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <!-- main -->
        <div class="form_login">
            <form action="/auth/signin">
                <div class="form_login-title">
                    <i class="fa fa-circle-user" aria-hidden="true"></i>
                </div>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Username" name="username" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="text-danger mt-1 ml-2" id="error"></div>
        </div>
        <%- include('../partials/script') %>
        <script>
            $('form').on('submit', (ev) => {
                ev.preventDefault();
                const data = $('form').serialize();
                $.ajax({
                    url: '/signin',
                    method: 'post',
                    data,
                    success: (res) => {
                        location.href = '/';
                    },
                    error: (jqXHR, textStatus, errorThrown) => {
                        const err = JSON.parse(jqXHR.responseText);
                        $('#error').text(err.message);
                    },
                });
            });
        </script>
    </body>
</html>
