<div class="card">
    <div class="card-body">
        <h1 class="card-title text-primary"><%= amount %></h1>
        <div class="card-text">
            <i class="fa fa-database" aria-hidden="true"></i> <%= title %>
            <label class="btn btn-primary mr-0 float-right">
                <i class="fa fa-file-import"></i> Import
                <input type="file" style="display: none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="uploadXlsxFile('<%= url %>',this)" />
            </label>
        </div>
    </div>
</div>
